OP_ACCOUNT="my.1password.com"
CLOUDFLARE_API_TOKEN="op://homelab-dev/cloudflare/api-token"
PROXMOX_VE_API_TOKEN="op://homelab-dev/proxmox-opentofu/credential"
TF_VAR_machine_secrets_yaml="op://HomeLab/talsecret-dev/talsecret-dev.yaml"
