[Unit]
Description=AdGuardHome DNS Server
ConditionFileIsExecutable={{ adguardhome_bin_file }}
After=network.target

[Service]
Type=simple
Restart=on-failure
RestartSec=2s
TimeoutStartSec=0
User={{ adguardhome_user }}
Group={{ adguardhome_group }}
WorkingDirectory={{ adguardhome_data_dir }}
ExecStart={{ adguardhome_bin_file }} --config {{ adguardhome_config_file }} --work-dir {{ adguardhome_data_dir }}
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
