OP_ACCOUNT="my.1password.com"
CLOUDFLARE_API_TOKEN="op://homelab-prod/cloudflare/api-token"
PROXMOX_VE_API_TOKEN="op://homelab-prod/proxmox-opentofu/credential"
TF_VAR_machine_secrets_yaml="op://homelab-prod/talsecret-prod/talsecret-prod.yaml"
